* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body,
input {
  background: #e5e5e5;
}

button,
input {
  font-family: "Montserrat", sans-serif;
}
